.active{
    color: red;
    font-weight: 800;
}
.navbar {
	
	padding: 5px;
	font-size: 180%;
	font-family: Times;
}
.nav {
	  background: rgb(27, 83, 110);
}
ul {
	list-style-type: none;
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em; 
}
ul li:hover {
  color:rgb(204, 0, 0);

}
