body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.task__remove-icon {
  display: none;
  margin: 0px 20px;
}
.addItem {
  height: 200px;
  background-color: powderblue;
}
.liClass:hover .task__remove-icon{
  display: block;
  background-color: red;
}
